{% extends 'base.html' %}

<meta charset="UTF-8">


{% block title %}Изменение куратора{% endblock %}

{% block content %}
    <h1>Изменение куратора</h1>

    <form action="{% url 'curator_change_confirm' curator_id=curator.curator_id %}" method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="curatorSecondName">Фамилия куратора:</label>
            <input type="text" class="form-control" id="curatorSecondName" name="curator_second_name" placeholder="Введите фамилию куратора" required oninput="checkInput(this)" value="{{ curator.curator_second_name }}">
        </div>
        <div class="form-group">
            <label for="curatorFirstName">Имя куратора:</label>
            <input type="text" class="form-control" id="curatorFirstName" name="curator_first_name" placeholder="Введите имя куратора" required oninput="checkInput(this)" value="{{ curator.curator_first_name }}">
        </div>
        <div class="form-group">
            <label for="curatorMiddleName">Отчество куратора:</label>
            <input type="text" class="form-control" id="curatorMiddleName" name="curator_middle_name" placeholder="Введите отчество куратора при наличии" required oninput="checkInput(this)" value="{{ curator.curator_middle_name }}">
        </div>
        <div class="form-group">
            <label for="curatorContactNumber">Номер телефона куратора:</label>
            <input type="text" class="form-control" id="curatorContactNumber" name="curator_contact_number" placeholder="Введите номер телефона куратора" required oninput="checkPhoneNumber(this)" value="{{ curator.curator_contact_number }}">
        </div>
        <a href="{% url 'curator_list' %}" class="btn btn-custom">Вернуться к списку кураторов</a>
        <button type="submit" class="btn btn-custom">Изменить куратора</button>
    </form>

    <script>
        function checkInput(input) {
            input.value = input.value.replace(/[^а-яА-ЯёЁ\s-]/gi, '');
        }

        function checkPhoneNumber(input) {

            input.value = input.value.replace(/[^\d]/g, '');

            if (!input.value.startsWith('8')) {
                input.value = '8' + input.value;
             }

            if (input.value.length > 11) {
                input.value = input.value.slice(0, 11);
            }
        }
    </script>
{% endblock %}