{% extends 'base.html' %}

<meta charset="UTF-8">


{% block title %}Добавление нового направления{% endblock %}

{% block content %}
    <h1>Добавление нового направления</h1>

    <form action="{% url 'direction_add_confirm' %}" method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="directionName">Название направления:</label>
            <input type="text" class="form-control" id="directionName" name="direction_name" placeholder="Введите название направления" required oninput="checkInput(this)">
        </div>
        <div class="form-group">
            <label for="specialization">Специализация:</label>
            <input type="text" class="form-control" id="specialization" name="specialization" placeholder="Введите специализацию" required oninput="checkInput(this)">
        </div>
        <div class="form-group">
            <label for="department">Кафедра:</label>
            <select class="form-control" id="department" name="department" required>
                <option value="">Выберите кафедру</option>
                {% for department in departments %}
                    <option value="{{ department.department_id }}">{{ department.department_name }}</option>
                {% endfor %}
            </select>
        </div>
        <a href="{% url 'department_list' %}" class="btn btn-custom">Вернуться к списку кафедр</a>
        <button type="submit" class="btn btn-custom">Добавить кафедру</button>
    </form>

    <script>
        function checkInput(input) {
            input.value = input.value.replace(/[^а-яА-ЯёЁ\s-]/gi, '');
        }
    </script>
{% endblock %}